<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="bailey.rod.animationexamples">

<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <!--<activity-->
        <!--android:name=".LayoutAnimationActivity"-->
        <!--android:label="@string/activity_layout_animation">-->
        <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"></action>-->
            <!--<category android:name="android.intent.category.LAUNCHER"></category>-->
        <!--</intent-filter>-->
    <!--</activity>-->

    <!--<activity android:name=".InTrayValueAnimatorCodeActivity"-->
              <!--android:label="Property Animation - Tray Sliding Up">-->
        <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"></action>-->
            <!--<category android:name="android.intent.category.LAUNCHER"></category>-->
        <!--</intent-filter>-->
    <!--</activity>-->

    <activity android:name=".InTrayValueAnimatorXmlActivity"
              android:label="Tray Sliding Up (XML)">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"></action>
            <category android:name="android.intent.category.LAUNCHER"></category>
        </intent-filter>
    </activity>

</application>

</manifest>
