<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="bailey.rod.animationexamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity -->
        <!-- android:name=".LayoutAnimationActivity" -->
        <!-- android:label="@string/activity_layout_animation"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN"></action> -->
        <!-- <category android:name="android.intent.category.LAUNCHER"></category> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->


        <!-- <activity android:name=".InTrayValueAnimatorInCodeActivity" -->
        <!-- android:label="Property Animation - Tray Sliding Up"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN"></action> -->
        <!-- <category android:name="android.intent.category.LAUNCHER"></category> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->


        <!-- <activity android:name=".InTrayValueAnimatorInXmlActivity" -->
        <!-- android:label="Tray Sliding Up (XML)"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN"></action> -->
        <!-- <category android:name="android.intent.category.LAUNCHER"></category> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <activity
            android:name=".ZoomingButtonActivity"
            android:label="FAB Zoom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>